<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        
            <% if (edit) { %>
                <form class="product-form" action="/admin/edit-product/<%= product.id %>" method="POST"> 
            <% } else { %>
                <form class="product-form" action="/admin/add-product" method="POST">
            <% } %>
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (edit) { %> <%= product.title %> <% } %>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<% if (edit) { %> <%= product.imageUrl %> <% } %>">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.01" value="<% if (edit) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><% if (edit) { %> <%= product.description %> <% } %></textarea>
            </div>

            <button class="btn" type="submit">
                <% if (edit) { %>
                    Edit Product
                <% } else { %>
                    Add Product
                <% } %>
            </button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>
