<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <h1>List of Items:</h1>
            <div>
                <% for (let product of products) { %>
                <% const title = product.title ? product.title : "[PRODUCT DON'T EXIST]" %>   
                <div>
                    <%= title %> - $<%= product.price %> - QTY: <%= product.qty %>
                    <form action="/cart/remove-item/<%= product.id %>" method="POST">
                        <button class="btn" type="submit">Delete item</button>
                    </form>
                </li>
                <hr/>
                <% } %>
            </ul>
            <h2>Total: $<%= total %></h2>
        </mian>
        <%- include('../includes/end.ejs') %>
